:root {
  --color-primary: #5FDDD3; /* Definindo uma variável para a cor primária *//* Definindo uma variável para o tamanho da fonte */
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f8f9fa;
}

.login-container {
  max-width: 400px;
  width: 100%;
}

.btn-login {
  background-color: var(--color-primary) !important;
  padding: 10px 12px;
  border-radius: 5px;
  color: #404040 !important;
}

.btn-login:hover {
  background-color: var(--color-primary) !important;
}

.link-recuperacao {
  text-decoration: none;
  color: var(--color-primary) !important;
}

.link-recuperacao:hover {
  text-decoration: underline;
  color: var(--color-primary) !important;
}

.form-control:focus {
  border-color: var(--color-primary);
  outline: 0;
  box-shadow: 0 0 0 0.25rem var(--color-primary);
}